.time{
    text-align: center;
    padding: 32px;
/*     background-color: #D9F7E9;
 */}
.time h3{
    font-family: 'Prata';
    font-weight: 400;
    font-size: 22px;
    border-bottom: 3px solid ;
    display: inline-block;
    padding-bottom: 8px;
}